@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<h1>Main Page</h1>
<nav>
    @if ((bool)ViewData["IsAuthenticated"])
    {
        <div><span>You authorized as </span> @ViewData["LoggedUser"] </div>
    }
    else
    {
        <div>You are not authorized</div>
    }
</nav>

