@model Sample2.Models.PasswordEditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "EditPassword";
    Layout = "_Layout";
}

<h1>EditPassword</h1>

<form method="post" asp-controller="Account" asp-action="EditPassword">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="OldPassword">Старый пароль</label><br />
        <input asp-for="OldPassword" />
        <span asp-validation-for="OldPassword"></span>
    </div>
    <div>
        <label asp-for="Password">Новый пароль</label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm">Подтвердите новый пароль</label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Изменить пароль" />
    </div>
</form>
