@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <nav class="main_nav">
        <a asp-action="Index" asp-controller="Home">Home</a>
        @if ((bool)ViewData["IsAuthenticated"])
        {
            <a asp-action="Profile" asp-controller="Account">@ViewData["LoggedUser"]</a>
            <a asp-action="Logout" asp-controller="Account">Logout</a>
        }
        else
        {
            <a asp-action="Login" asp-controller="Account">Login</a>
            <span>/</span>
            <a asp-action="Register" asp-controller="Account">Register</a>
        }
    </nav>
    <br /><br />
    @RenderBody()
</body>
</html>

